.message {
  padding: 10px;
  background: rgb(206, 247, 255);
  border-radius: 10px;
  margin-bottom: 4px;
}

#logo {
  font-weight: bold;
  position: absolute;
  left: 20;
  top: 15;
  font-size: 28px;
  z-index: 20;
}

.login-input {
  font-family: poppins;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-radius: 12px;
  background: rgb(230, 231, 241);
  padding: 10px 20px;
}

#login {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
}

.root {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#messages {
  margin: auto;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.button {
  padding: 10px 40px;
  cursor: pointer;
  background: rgb(255, 174, 0);
  color: white;
  border-radius: 10px;
  margin-bottom: 4px;
  user-select: none;
  font-weight: bold;
  transition: all 0.2s;
  text-align: center;
}

.button-small {
  padding: 5px 20px;
  margin: 0 3px;
  cursor: pointer;
  background: rgb(255, 174, 0);
  color: white;
  border-radius: 6px;
  margin-bottom: 4px;
  user-select: none;
  font-weight: bold;
  transition: all 0.2s;
  text-align: center;
}

.button:hover,
#chat-button:hover,
.button-small:hover {
  opacity: 0.8;
}

* {
  box-sizing: border-box;
}

#map {
  background: linear-gradient(
    0deg,
    #966a5c 0%,
    #b46147 15.41%,
    #bea960 35.85%,
    rgba(173, 254, 145, 0.75) 59.12%,
    rgba(0, 255, 194, 0.58) 79.25%,
    rgba(0, 163, 255, 0.48) 100%
  );
  transition: all 0.05s;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10000px;
}

.player {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: black;
  transition: all 0.05s;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.otherPlayer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  transition: all 0.05s;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: absolute;
  left: 0;
  bottom: 0;
}

.mapObject {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: capitalize;
}

.island {
  border-radius: 20px !important;
}

.food,
.snowBall,
.rock {
  border-radius: 50%;
}

#game-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100%;
}

#game-console {
  flex-shrink: 0;
  padding: 20px;
  width: 250px;
  z-index: 10;
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
}

#map-holder {
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value {
  font-size: 26;
  font-weight: 600;
}

.console-content {
  flex-grow: 1;
  border-radius: 6px;
  padding: 25px 10px 10px 10px;
  background: #eeeeee;
  position: relative;
  display: flex;
}

#items-holder {
  overflow: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 3px;
}

#chat {
  margin-top: 3px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#chat-content {
  flex-grow: 1;
  height: 0;
  overflow: auto;
  width: 100%;
  font-size: 13px;
}

#chat-bottom {
  display: flex;
}

#chat-input {
  height: 24px;
  border: none;
  width: 100%;
  border-radius: 3px;
}

#chat-button {
  border-radius: 3px;
  height: 24px;
  padding: 0 7px;
  background: rgb(255, 174, 0);
  color: white;
  margin-left: 2px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}

.console-content::after {
  position: absolute;
  top: 3;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

#items-holder::after {
  content: "ITEMS";
}

#chat::after {
  content: "CHAT";
}

.pack {
  border-radius: 6px;
  padding-left: 5px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 5px;
  margin-bottom: 5px;
}

.item {
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 5px;
  color: white;
}

.box {
  border: 2px solid white;
}

.label {
  margin-right: 10px;
}

.value {
  line-height: 1;
  text-align: right;
}

#levels-container {
  display: flex;
  margin: 0 -4px;
  margin-top: 5px;
}

#levels-container > div {
  width: 36px;
  height: 36px;
  margin: 0 4px;
  background-color: #e0e0e0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

#levels-container > div:hover {
  background-color: #c7c7c7;
}

.active {
  background-color: rgb(255, 174, 0) !important;
}
