.message {
  padding: 10px;
  background: rgb(206, 247, 255);
  border-radius: 10px;
  margin-bottom: 4px;
}

.root {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#messages {
  margin: auto;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.button {
  padding: 10px 40px;
  cursor: pointer;
  background: rgb(255, 174, 0);
  color: white;
  border-radius: 10px;
  margin-bottom: 4px;
  user-select: none;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

#map {
  background: linear-gradient(
    0deg,
    #966a5c 0%,
    #b46147 15.41%,
    #bea960 35.85%,
    rgba(173, 254, 145, 0.75) 59.12%,
    rgba(0, 255, 194, 0.58) 79.25%,
    rgba(0, 163, 255, 0.48) 100%
  );
  transition: all 0.05s;
}

.player {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: black;
  transition: all 0.05s;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.otherPlayer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  transition: all 0.05s;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: absolute;
  left: 0;
  bottom: 0;
}

.mapObject {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: capitalize;
}

.island {
  border-radius: 20px !important;
}
